{
    "rules": {
        "no-console": "off",
        "eqeqeq": [2, "allow-null"],
        "semi": ["error", "always"]
    },
    "parser": "@babel/eslint-parser",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "globals": {
        "module": true,
        "require": true,
        "process": true,
        "connect": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    }
}
